body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white; 
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  
  .region {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .toggle-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .toggle-button:hover {
    background-color: #9b9b9b;
  }
  
  .content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .content ul {
    list-style: none;
    padding: 0;
  }
  
  .content li {
    margin-bottom: 10px;
  }
  .navbar {
    background-color: #1c1c1c;
    padding: 1rem 0;
  }
  .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 20px;
  }
  
  .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-right: 20px;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #1e90ff;
  }  
  footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: inline-block;
    text-align: center;
  }
  
  .footer-developers {
    font-size: 14px;
    margin: 0;
    color: #bbb; 
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1c1c1c;
  }
  .navbar-brand img {
    width: 100px;
  }
  .nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  .nav-menu a:hover, .nav-menu a.active {
    color: #1e90ff;
  }
   
   .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
  }



  
  .nav-menu.responsive {
    display: block;
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .nav-menu.responsive a {
    display: block;
    padding: 10px 0;
    text-align: center;
  }

  
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
  
